.flex-content{
    display: flex;    
    flex-wrap: wrap;      
    justify-content: space-between;
    
}

.card{
    width: 45%;
    margin-top: 1.2em;    
}

.card-buttons{
    display: flex;    
    justify-content: flex-end;
    width: 100%;
  }
  
  .mat-raised-button{  
    margin-left: 1em;    
  }