.flex-content{
    display: flex;    
    flex-wrap: wrap;      
    justify-content: space-between;    
}
.card{
    width: 46%;
}

.mat-card-actions{
    display: flex;    
    justify-content: flex-end;
    margin-top: 0.5em;    
}

