<form #bookForm="ngForm">
<mat-card *ngIf="user_id">
  Books from <strong>{{username}}</strong>       
</mat-card>
<mat-card class="book-list">  
  <mat-card *ngFor="let book of books; let i = index" class="book">
    <mat-card-title>
      {{book.title}}       
    </mat-card-title>
    <mat-card-content *ngIf="user">            
      <h3>{{book.description}}</h3>    
      <mat-checkbox *ngIf="!book.disabled && user.username" (click)="toggleCheck(i,!spy.checked)" #spy> from {{book.username}}</mat-checkbox>      
      <mat-checkbox *ngIf="book.disabled" [disabled]="true">from {{book.username}}</mat-checkbox>                                   
      <mat-card-actions *ngIf="book.username == user.username" style="text-align: right">
        <button type="button"  (click)="deleteBook(book.id)" class="delete-btn">        
            <mat-icon color="warn" >delete</mat-icon>  
        </button>
      </mat-card-actions>
    </mat-card-content>      
    <mat-card-content *ngIf="!user">            
      <h3>{{book.description}}</h3>    
      <p>from {{book.username}}</p>
    </mat-card-content>      
  </mat-card>  
</mat-card>
<mat-card *ngIf="!parentUserName && user" class="card-buttons">
  <button mat-raised-button routerLink="/addbook">Add book</button>  
  <button mat-raised-button 
    type="submit"
    color="accent"     
    *ngIf="!parentUserName"      
    [disabled]="requesButtonDisabled" routerLink="/request/new" >New request</button>      
</mat-card>

<mat-card *ngIf="!user" class="card-buttons">
  <button mat-raised-button routerLink="/login">Log to add and request books</button>       
</mat-card>

</form>